*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    height: 3em;
    width: 7em;
    background-color: blue;
    border:none;
    font-size: .9em;
    color:white;
}

button:hover{
    background-color: green;
}



